{% extends "layout.html" %}
{% block title %} Venue - ReserveIt {% endblock title %}
{% block home %}active{% endblock home %}
{% block content %}
    <div class="container content-section mt-4">
        <form method="post">
            {{ form.hidden_tag() }}
            <fieldset class="form-outline mb-2">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-outline mb-2">
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control") }}
                </div>
                <div class="form-control mb-2">
                    {{ form.loc.label(class="form-control-label") }}
                    {{ form.loc(class="form-control") }}
                </div>
                <div class="form-control mb-2">
                    {{ form.cap.label(class="form-control-label") }}
                    {{ form.cap(class="form-control") }}
                </div>
            </fieldset>
            <div class="form-outline mb-2">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock content %}